{% load i18n %}
<div class="">
    {% for patient in room.patients %}
        {% include "ward/ward_bed_occupied.html" with gender=patient.gender last_name=patient.last_name first_name=patient.first_name current_stay=patient.current_stay patient_id=patient.id%}
    {% endfor %}
    {% with ""|center:room.available_beds as range %}
        {% for _ in range %}
            <div class="m-3">
                <i icon-name="bed-single" class="w-10 h-10 rounded-lg text-green-200"></i>
            </div>
        {% endfor %}
    {% endwith %}
    <!--blocked beds-->
    {% with ""|center:room.total_blocked_beds as range %}
        {% for _ in range %}
            <div class="flex flex-col items-center gap-1 w-full">
                <i icon-name="bed-single" class="w-10 h-10 rounded-lg text-gray-400 opacity-50"></i>
            </div>
        {% endfor %}
    {% endwith %}
</div>
