{% load i18n %}
{% load widget_tweaks %}
<div id="drawer-right-{{ room.room_number }}"
     class="w-full sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2 fixed top-0 right-0 z-40 h-screen p-4 overflow-y-auto transition-transform translate-x-full bg-white dark:bg-gray-900"
     tabindex="-1"
     aria-labelledby="drawer-right-label">
    <h5 id=" drawer-right-label"
        class="inline-flex items-center mb-4 text-base font-semibold text-gray-500 dark:text-gray-400">
        <i icon-name="info" class="mr-2"></i>
        {% translate "Room" %}
        {{ room.room_number }}
        ({{ room.available_beds }}
        {% translate "free beds" %})
    </h5>
    <button type="button"
            data-drawer-hide="drawer-right-{{ room.room_number }}"
            aria-controls="drawer-right-{{ room.room_number }}"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 right-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white">
        <i icon-name="x"></i>
        <span class="sr-only">{% translate "Close menu" %}</span>
    </button>
    {% if patients %}
        <div class="flex justify-center items-center mb-6">
            <h1>{% translate "Bed assignment in the room" %}</h1>
        </div>
        <div class="grid grid-cols-[1fr,4fr] gap-4 items-start">
            {% for patient, patient_form, bed_assignment_form in patients %}
            <!-- Left Column (Bed) -->
            <div class="flex justify-center items-center h-full">
                {% include "ward/ward_bed.html" with gender=patient.gender current_stay=patient.current_stay %}
            </div>
            <!-- Right Column (Patient Card) -->
            <div class="flex flex-col gap-4">
                {% with bed_assignment=patient.current_stay %}
                    {% include "patients/patient_card.html" %}
                {% endwith %}    
            </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="flex justify-center items-center mb-6">
            <h1>{% translate "No patients in this room..." %}</h1>
        </div>
    {% endif %}

</div>

