{% extends "_base.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load render_bundle from webpack_loader %}
{% block title %}
    {% translate "Manage Patients" %}
{% endblock title %}
{% block content %}
    {% if perms.cms.view_patient %}
        <div class="w-full flex flex-col flex-wrap mb-6">
            <h1 class="heading">{% translate "Patients list" %}</h1>
        </div>
        <!--Begin of upload form-->
        <div class="rounded-lg border border-gray-300 bg-white p-4 shadow-md flex flex-row h-full dark:bg-gray-800 dark:border-gray-700 dark:text-white">
            {% if perms.cms.add_user %}
                <button class="col-span-1 sm:col-span-1 md:col-span-1 lg:col-span-1 xl:col-span-1 flex px-2"
                    data-drawer-target="drawer-right"
                    data-drawer-show="drawer-right"
                    data-drawer-placement="right"
                    aria-controls="drawer-right">
                    <i icon-name="upload" class="text-blue-600 cursor-pointer mr-2"></i>
                    <span>  {% translate "Import patient data from CSV file" %}</span>
                </button>
                {% include "patients/patient_import_drawer.html" %}
            {% endif %}
        </div>
        <br/>
        <!--End of upload form-->
        <form id="search-patient-form" method="GET">
        <input id="search-patient-input"
               type="text"
               name="search"
               placeholder="{% translate "Search for name..." %}"
               value="{{ request.GET.search|default:'' }}"
               class="mb-2" />
        </form>
        <div class="shadow-lg overflow-x-auto">
            <table id="patients" class="min-w-full text-sm text-gray-500">
                <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-100">
                    <tr>
                        <th class="px-6 py-3">{% translate "Patient name" %}</th>
                        <th class="px-6 py-3">{% translate "Gender" %}</th>
                        <th class="px-6 py-3">{% translate "Date of Birth" %}</th>
                        <th class="px-6 py-3">{% translate "Privately insured" %}?</th>
                        <th class="px-6 py-3 w-60">{% translate "Status" %}</th>
                        <th class="px-6 py-3 w-[400px] ">{% translate "Action" %}</th>
                    </tr>
                </thead>
                <tbody class="overflow-y-auto">
                    {% if perms.cms.add_user %}
                        <tr class="odd:bg-white even:bg-gray-100 border-b dark:odd:bg-gray-800 dark:even:bg-gray-700 dark:border-gray-700 w-full">
                            <td class="px-6 py-3 col-span-2">
                                <h2 class="lg:hidden mb-4">{% translate "Add patient" %}</h2>
                                <div class="flex flex-nowrap gap-4 flex-col lg:flex-row">
                                    {% render_field new_patient_form.last_name form="add-patient" %}
                                    {% render_field new_patient_form.first_name form="add-patient" %}
                                </div>
                            </td>
                            <td class="px-6 py-3">{% render_field new_patient_form.gender form="add-patient" %}</td>
                            <td class="px-6 py-3">{% render_field new_patient_form.date_of_birth form="add-patient" %}</td>
                            <td class="px-6 py-3 text-center">{% render_field new_patient_form.insurance_type form="add-patient" %}</td>
                            <td class="!hidden lg:!block px-6 py-3"></td>
                            <td class="p-4 text-right">
                                <button class="px-2 text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-700 rounded px-5 py-2.5 text-center w-full lg:w-auto"
                                        form="add-patient">
                                    <form hidden
                                          id="add-patient"
                                          method="post"
                                          action="{% url "cms:protected:create_patient" %}">
                                        {% csrf_token %}
                                    </form>
                                    {% translate "Add" %}
                                </button>
                            </td>
                        </tr>
                    {% endif %}
                    <tr class="h-3 w-full"></tr>
                    {% for patient in patients %}
                        <tr data-patient-id="{{ patient.id }}"
                            class="py-2 lg:py-0 odd:bg-white even:bg-gray-100 border-b dark:odd:bg-gray-800 dark:even:bg-gray-700 dark:border-gray-700">
                            <td class="px-6 py-3">
                                <p class="py-2 lg:px-3 text-base border border-transparent text-xl lg:text-base ">
                                    {{ patient.last_name }}, {{ patient.first_name }}
                                </p>
                            </td>
                            <td class="px-6 lg:py-3">
                                <span class="lg:hidden help-text">{% translate "Gender" %}:</span>
                                {% if patient.gender == 'm' %}
                                    <p class="inline lg:block lg:py-2 px-3 text-base border border-transparent w-full bg-blue-100 text-blue-800 text-sm font-medium rounded dark:bg-blue-900 dark:text-blue-300">
                                        {% translate "Male" %}
                                    </p>
                                {% elif patient.gender == 'f' %}
                                    <p class="inline lg:block lg:py-2 px-3 text-base border border-transparent w-full bg-pink-100 text-pink-800 text-sm font-medium rounded dark:bg-pink-900 dark:text-pink-300">
                                        {% translate "Female" %}
                                    </p>
                                {% elif patient.gender == 'd' %}
                                    <p class="inline lg:block lg:py-2 px-3 text-base border border-transparent w-full bg-green-100 text-green-800 text-sm font-medium rounded dark:bg-pink-900 dark:text-pink-300">
                                        {% translate "Diverse" %}
                                    </p>
                                {% endif %}
                            </td>
                            <td class="px-6 lg:py-3">
                                <p class="lg:py-2 lg:px-3 text-base">
                                    <span class="lg:hidden help-text">{% translate "Date of birth" %}:</span> {{ patient.date_of_birth|date:'d.m.Y' }}
                                </p>
                            </td>
                            <td class="px-6 lg:py-3 lg:text-center">
                                <span class="lg:hidden help-text">{% translate "Privately insured" %}:</span>
                                {% if patient.insurance_type %}
                                    <i icon-name="check" class="w-4 h-4 text-green-700 dark:text-green-400"></i>
                                {% else %}
                                    <i icon-name="x" class="w-4 h-4 text-red-700 dark:text-red-400"></i>
                                {% endif %}
                            </td>
                            <td class="px-6 py-3 text-center">
                                <span>
                                    {% if patient.current_room %}
                                        {% translate "Stays in:" %} <a class="text-blue-500"
    href="{% url "cms:protected:ward_detail" pk=patient.current_ward.id %}?drawer=drawer-right-{{ patient.current_room.room_number }}">{{ patient.current_ward.name }}, {% translate "Room" %} {{ patient.current_room.room_number }}</a>
                                    {% elif patient.current_stay %}
                                        <b class="text-red-500">
                                            {% if patient.current_stay.recommended_ward %}
                                                {% translate "Waits for bed assignment in ward" %}
                                                <a class="text-blue-500"
                                                   href="{% url "cms:protected:ward_detail" pk=patient.current_stay.recommended_ward.id %}?drawer=drawer-right-unassigned">{{ patient.current_stay.recommended_ward.name }}</a>
                                            {% else %}
                                                {% translate "Waits for assignment to ward" %}
                                            </b>
                                        {% endif %}
                                    {% else %}
                                        <span class="hidden lg:block">-</span>
                                    {% endif %}
                                </span>
                            </td>
                            <td class="p-4">
                                <div class="text-center flex flex-col sm:flex-row gap-1 lg:justify-end">
                                    {% if patient.current_stay.recommended_ward %}
                                        <a href="{% url 'cms:protected:assign_patient' ward_id=patient.current_stay.recommended_ward.id assignment_id=patient.current_stay.id %}"
                                           class="text-white border-2 border-green-500 hover:border-green-700 bg-green-500 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-700 rounded px-5 py-2.5">
                                            {% if patient.current_stay.bed %}
                                                {% translate "Transfer" %}
                                            {% else %}
                                                {% translate "Assign bed" %}
                                            {% endif %}
                                        {% endif %}
                                    </a>
                                    <a href="{% url "cms:protected:patient_details" patient.id %}"
                                       class="text-blue-500 border-2 border-blue-500 hover:border-blue-700 hover:text-white hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-700 rounded px-5 py-2.5">
                                        {% translate "Details" %}
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6">
            <div class="flex flex-1 justify-between sm:hidden">
              <a href="#" class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Previous</a>
              <a href="#" class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Next</a>
            </div>
            <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
              <div>
                <p class="text-sm text-gray-700">
                    <span class="current">
                        Page {{ patients.number }} of {{ patients.paginator.num_pages }}.
                    </span>
                </p>
              </div>
              <div>
                <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
                    <a href="?page=1" class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                        <span class="sr-only">Page 1</span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m18.75 4.5-7.5 7.5 7.5 7.5m-6-15L5.25 12l7.5 7.5" />
                        </svg>
                    </a>
                    {% if patients.has_previous %}
                    <a href="?page={{ patients.previous_page_number }}" class="relative inline-flex items-center px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                        <span class="sr-only">Previous</span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                        </svg>
                    </a>
                    {% endif %}

                    <a href="#" aria-current="page" class="relative z-10 inline-flex items-center bg-indigo-600 px-4 py-2 text-sm font-semibold text-white focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">{{ patients.number }}</a>

                    {% if patients.has_next %}
                    <a href="?page={{ patients.next_page_number }}" class="relative inline-flex items-center px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                    <span class="sr-only">Next</span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                      </svg>
                  </a>
                  {% endif %}
                  <a href="?page={{ patients.paginator.num_pages }}" class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                    <span class="sr-only">Next</span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5" />
                      </svg>
                </a>
                </nav>
              </div>
            </div>
          </div>
    {% endif %}
{% endblock content %}
