<div class="h-full w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
    <div class="flex justify-between">
        <div>
            <h5 class="leading-none text-xl font-bold text-gray-900 dark:text-white pb-2">Patients</h5>
            <p class="text-base font-normal dark:text-white text-gray-900">Count</p>
        </div>
    </div>
    <div id="area-chart" class="w-full h-64 mt-12"></div> <!-- Bereich für den Graphen -->
    <div class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between">
        <div class="flex justify-between items-center pt-14">
            <button id="dropdownDefaultButton" data-dropdown-toggle="lastDaysdropdown" data-dropdown-placement="bottom"
                class="text-sm font-medium dark:text-white text-gray-900 hover:text-gray-900 text-center inline-flex items-center dark:hover:text-white"
                type="button">
                Last 7 days
                <svg class="w-2.5 m-2.5 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg>
            </button>
            <div id="lastDaysdropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                   <!--  <li><a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Yesterday</a></li> -->
                   <!-- <li><a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Today</a></li> -->
                    <li><a href="" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-grey">Last 7 days</a></li>
                   <!-- <li><a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last 30 days</a></li> -->
                  <!-- <li><a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last 90 days</a></li> -->
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- ApexCharts-Bibliothek einbinden -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<script>
    const data = {{ statistics|safe }};
    const options = {
        chart: {
            height: '250px',  // Hier eine feste Höhe angeben
            width: '100%',    // Breite auf 100% setzen
            type: 'area',
            fontFamily: 'Inter, sans-serif',
            dropShadow: {
                enabled: false
            },
            toolbar: {
                show: false
            }
        },
        tooltip: {
            enabled: true,
            x: {
                show: false
            }
        },
        fill: {
            type: 'gradient',
            gradient: {
                opacityFrom: 0.55,
                opacityTo: 0,
                shade: '#1C64F2',
                gradientToColors: ['#1C64F2']
            }
        },
        dataLabels: {
            enabled: false
        },
        stroke: {
            width: 6
        },
        grid: {
            show: false,
            strokeDashArray: 4,
            padding: {
                left: 2,
                right: 2,
                top: 0
            }
        },
        series: [
            {
                name: 'Patienten',
                data: data.map(item => item.patients),
                color: '#1A56DB'
            }
        ],
        xaxis: {
            categories: data.map(item => item.category),
            labels: {
                show: false
            },
            axisBorder: {
                show: false
            },
            axisTicks: {
                show: false
            }
        },
        yaxis: {
            show: false
        }
    };

    if (document.getElementById('area-chart') && typeof ApexCharts !== 'undefined') {
        const chart = new ApexCharts(document.getElementById('area-chart'), options);
        chart.render();
    }
</script>
