
<div class="h-full w-full bg-white rounded-lg shadow dark:bg-gray-800 p-6 md:p-8">
    <div class="flex justify-between">
        <div>
            <h5 class="leading-none text-2xl font-bold text-gray-900 dark:text-white pb-4">Infos</h5>
        </div>
    </div>

    <!-- Infos List -->
    <div class="space-y-6">
        <div class="flex justify-between">
            <p class="text-lg font-medium text-gray-700 dark:text-gray-300">Total Wards:</p>
            <p class="text-xl font-bold text-gray-900 dark:text-white">{{ infos.wards_count }}</p>
        </div>
        <div class="flex justify-between">
            <p class="text-lg font-medium text-gray-700 dark:text-gray-300">Total Doctors:</p>
            <p class="text-xl font-bold text-gray-900 dark:text-white">{{ infos.doctors_count }}</p>
        </div>
        <div class="flex justify-between">
            <p class="text-lg font-medium text-gray-700 dark:text-gray-300">Total Nurses:</p>
            <p class="text-xl font-bold text-gray-900 dark:text-white">{{ infos.nurses_count }}</p>
        </div>
    </div>
</div>

