<div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

    {# Ward Name #}
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Allgemeinchirugie</h5>

    {# Ward Info #}
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        Available beds: 10<br>
        Unasigned patients: 5 <br>
        Gender: <span class="text-blue-500">8</span> / <span class="text-pink-500">10 </span>
    </p>

    {# Linie zwischen Text und Button #}
    <hr class="my-4 border-t border-gray-300 dark:border-gray-600">

    {# Button #}
    <div class="flex justify-center">
        <a href="#" class="block py-4 border border-gray-200 dark:bg-gray-600 dark:border-gray-700 text-black dark:text-white hover:bg-gray-300 dark:hover:bg-gray-400 rounded w-full text-center min-w-[50px] transition-all duration-300 transform hover:-translate-y-2 hover:shadow-xl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
            Go to Ward
            <i icon-name="bed" class="ms-2"></i>
        </a>
    </div>
</div>
