{% load i18n %}
<div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

    <div class="flex justify-between items-start mb-2">
        {# Ward Name #}
        <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            {{ ward.name }}
        </h5>

        {# Action Icons #}
        {% if user.is_staff %}
        <div class="flex space-x-2">
            {# Edit Icon #}
            <a href="{% url 'cms:protected:ward_details' ward.id %}" 
               class="text-gray-500 hover:text-blue-600 dark:text-gray-400 dark:hover:text-blue-500 transition-colors duration-200">
               <i icon-name="pencil" class="text-blue-600 cursor-pointer"></i>
            </a>
            {# Delete Icon #}
            <button type="submit" form="delete-ward-{{ ward.id }}"
                    class="text-gray-500 hover:text-red-600 dark:text-gray-400 dark:hover:text-red-500 transition-colors duration-200">
                    <i icon-name="trash-2" class="element-remover text-red-600 cursor-pointer"></i>
            </button>
            <form id="delete-ward-{{ ward.id }}" method="post" action="{% url 'cms:protected:delete_ward' ward.id %}" class="hidden">
                {% csrf_token %}
            </form>
        </div>
        {% endif %}
    </div>

    {# Ward Info #}
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        <span>
            {% trans "Occupied beds" %}: <strong> {{ ward.occupied_beds }} </strong></span>
        <br>
        <span >{% trans "Available Beds" %}: <strong>{{ ward.available_beds }}</strong></span>
        <br>
        <span>
            {% trans "Unassigned Patients" %}
        </span>:
        <strong style="color: {% if ward.unassigned_patients|length > 0 %}red{% endif %};">
            {{ ward.unassigned_patients|length }}
        </strong>
        <br>
        <span style="color: #18aff5;">&#9794;</span><span style="color: #18aff5;">{{ ward.patient_genders.m|default:0 }}</span> /
        <span style="color: #de1ee8;">&#9792;</span><span style="color: #de1ee8;">{{ ward.patient_genders.f|default:0 }}</span> /
        <span style="color: #2ecc71;">&#9895;</span><span style="color: #2ecc71;">{{ ward.patient_genders.d|default:0 }}</span>
        <br>
    </p>

    {# Linie zwischen Text und Button #}
    <hr class="my-4 border-t border-gray-300 dark:border-gray-600">

    {# Button #}
    <div class="flex justify-center">
        <a href="{% url 'cms:protected:ward_detail' ward.id %}"
           class="block py-4 border border-gray-200 dark:bg-gray-600 dark:border-gray-700 text-black dark:text-white hover:bg-gray-300 dark:hover:bg-gray-400 rounded w-full text-center min-w-[50px] transition-all duration-300 transform hover:-translate-y-2 hover:shadow-xl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
            {% trans "Go to Ward" %}
            <i icon-name="bed" class="ms-2"></i>
        </a>
    </div>
</div>
