{% load i18n %}
<div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

    <div class="flex justify-between items-start mb-2">
        {# Ward Name #}
        <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            {{ ward.name }}
        </h5>

        {# Action Icons #}
        {% if user.is_staff %}
        <div class="flex space-x-2">
            {# Edit Icon #}
            <a href="{% url 'cms:protected:ward_details' ward.id %}"
               class="text-gray-500 hover:text-blue-600 dark:text-gray-400 dark:hover:text-blue-500 transition-colors duration-200">
               <i icon-name="pencil" class="text-blue-600 cursor-pointer"></i>
            </a>
            {# Delete Icon #}
            <button class="text-gray-500 hover:text-red-600 dark:text-gray-400 dark:hover:text-red-500 transition-colors duration-200"
                    data-delete-ward
                    data-occupied-beds="{{ ward.occupied_beds }}"
                    data-ward-id="{{ ward.id }}"
                    data-form-id="delete-ward-{{ ward.id }}"
                    form="delete-ward-{{ ward.id }}">
                    <i icon-name="trash-2" class="element-remover text-red-600 cursor-pointer"></i>
            </button>
            <div id="confirm-modal-{{ ward.id }}" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50 hidden">
                <div class="w-full lg:w-1/3 rounded-lg border border-gray-300 bg-white p-8 shadow-md dark:bg-gray-800 dark:border-gray-700">
                    <div class="flex flex-col items-center justify-center">
                        <p id="modal-message-{{ ward.id }}" class="mb-4 text-gray-700 text-center">
                            {% if not ward.occupied_beds > 0 %}
                            {% trans "Are you sure to delete this ward?" %}
                            {% else %}
                            {% trans "Cannot delete ward with occupied beds." %}
                            {% endif %}
                        </p>
                        <div class="flex justify-center gap-4">
                            {% if not ward.occupied_beds > 0 %}
                            <button class="modal-confirm px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600"
                                    data-ward-id="{{ ward.id }}">
                                {% translate "Yes" %}
                            </button>
                            <button class="modal-cancel px-4 py-2 bg-gray-300 text-gray-700 rounded hover:bg-gray-400"
                                    data-ward-id="{{ ward.id }}">
                                {% translate "No" %}
                            </button>
                            {% else %}
                            <button class="modal-confirm hidden px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600"
                                    data-ward-id="{{ ward.id }}">
                                {% translate "Yes" %}
                            </button>
                            <button class="modal-cancel px-4 py-2 bg-gray-300 text-gray-700 rounded hover:bg-gray-400"
                                    data-ward-id="{{ ward.id }}">
                                {% translate "ok" %}
                            </button>                        
                            {% endif %}                        
                        </div>
                    </div>
                </div>
            </div>
            <form hidden
                id="delete-ward-{{ ward.id }}"
                method="post"
                action="{% url "cms:protected:delete_ward" ward.id %}">
                {% csrf_token %}
            </form>
        </div>
        {% endif %}
    </div>

    {# Ward Info #}
    <style>
        .male-icon { color: #18aff5; }
        .female-icon { color: #de1ee8; }
        .diverse-icon { color: #2ecc71; }
    </style>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        <span>
            {% trans "Occupied beds" %}: <strong> {{ ward.occupied_beds }} </strong></span>
        <br>
        <span >{% trans "Available Beds" %}: <strong>{{ ward.available_beds }}</strong></span>
        <br>
        <span>
            {% trans "Unassigned Patients" %}
        </span>:
        <strong style="color: {% if ward.unassigned_patients|length > 0 %}red{% endif %};">
            {{ ward.unassigned_patients|length }}
        </strong>
        <br>
        <span class="male-icon">♂</span> <span class="male-icon">{{ ward.patient_genders.m|default:0 }}</span> /
        <span class="female-icon">♀</span> <span class="female-icon">{{ ward.patient_genders.f|default:0 }}</span> /
        <span class="diverse-icon">⚥</span> <span class="diverse-icon">{{ ward.patient_genders.d|default:0 }}</span>
        <br>
    </p>

    {# Linie zwischen Text und Button #}
    <hr class="my-4 border-t border-gray-300 dark:border-gray-600">

    {# Button #}
    <div class="flex justify-center">
        <a href="{% url 'cms:protected:ward_detail' ward.id %}"
           class="block py-4 border border-gray-200 dark:bg-gray-600 dark:border-gray-700 text-black dark:text-white hover:bg-gray-300 dark:hover:bg-gray-400 rounded w-full text-center min-w-[50px] transition-all duration-300 transform hover:-translate-y-2 hover:shadow-xl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
            {% trans "Go to Ward" %}
            <i icon-name="bed" class="ms-2"></i>
        </a>
    </div>
</div>
